---
---

$spacing: 2em;
// Give our navbar some breathing room
nav {
    margin-bottom: $spacing;
}

// Fancy jumbotron with a pic of me
.jumbotron {
    .headshot{
        img {
            // Move the pic to the right side
            float: right;
            // Pic should be 1/3 size of the jumbotron
            max-width: 33%;
            max-height: 33%;
            // Add nice rounded corners
            border-radius: 10%;
        }
    }

    // Make the button come after the picture
    p.games-button {
        clear: both;
    }
}

.social-box {
    display: inline-block;
    width:25%;
    img {
        width: 100%;
        border-radius: 10%;
    }
}

// Make our list use sane responsible CSS, I hope.
li.game-list {
  display: flex;
}
