---
---
// Give our navbar some breathing room
nav {
    margin-bottom: 2em;
    .site-title {
        // Move our site title over to the right in the navbar
        float: right;
    }
}


#unityPlayer {
    // Center our unity player
    embed {
        margin: 0 auto;
    }
    // Give it some breathing room
    margin-bottom: 2em;
}

// Fancy jumbotron with a pic of me
.jumbotron {
    .headshot{
        img {
            // Move the pic to the right side
            float: right;
            // Pic should be 1/3 size of the jumbotron
            max-width: 33%;
            max-height: 33%;
            // Add nice rounded corners
            border-radius: 10%;
        }
    }

    // Make the button come after the picture
    p.games-button {
        clear: both;
    }
}

.social-box {
    display: inline-block;
    width:100%;
    height:auto;
    img {
        width: auto;
        height: auto;
        border-radius: 10%;
    }
}

.game-list {
    .btn {
        float:right;
    }
    border-style: solid 3px;
}