---
layout: default
title: Games
nav: 2
permalink: /games/
---
{% assign pages_sortby_date = site.pages | sort: "date" | reverse %}
<ul class="media-list game-list">
{% for game in pages_sortby_date %}
{% if game.layout == "game" %}
  <li class="media game-list">
    <div class="media-left">
      <a href="{{ game.url }}">
        <img class="media-object" src="{{ game.image }}" alt="...">
      </a>
    </div>
    <div class="media-body">
      <a class="btn btn-success btn-sm " href="{{ game.url }}" role="button">Play Now!</a>
      <!-- <a class="btn btn-primary btn-sm" href="{{ game.video }}" role="button">Watch Video</a> --!>
      <a href="{{ game.url }}">
        <h4 class="media-heading">{{ game.title }}</h4>
      </a>
      <h5 class="media-heading">{{ game.date | date: "%B %Y" }}</h5>
      {{ game.description }}
    </div>
  </li>
  {% endif %}
{% endfor %}
</ul>
