
<div id="unityPlayer">
    <div class="missing">
        <a href="http://unity3d.com/webplayer/" title="Unity Web Player. Install now!">
            <img alt="Unity Web Player. Install now!" src="http://webplayer.unity3d.com/installation/getunity.png" width="193" height="63" />
        </a>
    </div>
    <div class="broken">
        <a href="http://unity3d.com/webplayer/" title="Unity Web Player. Install now! Restart your browser after install.">
            <img alt="Unity Web Player. Install now! Restart your browser after install." src="http://webplayer.unity3d.com/installation/getunityrestart.png" width="193" height="63" />
        </a>
    </div>
</div>
<div class="panel panel-default lead controls">
  <div class="panel-heading">Controls:</div>
  <div class="panel-body">
    {{ page.controls }}
  </div>
</div>

<!-- Load Unity game -->
<script type="text/javascript" src="/js/UnityObject2.js"></script>
<script type="text/javascript">
var config = {
    width: 960, 
    height: 600,
    params: { enableDebugging:"0" }
    
};
var u = new UnityObject2(config);

jQuery(function() {

    var $missingScreen = jQuery("#unityPlayer").find(".missing");
    var $brokenScreen = jQuery("#unityPlayer").find(".broken");
    $missingScreen.hide();
    $brokenScreen.hide();
    
    u.observeProgress(function (progress) {
        switch(progress.pluginStatus) {
            case "broken":
                $brokenScreen.find("a").click(function (e) {
                    e.stopPropagation();
                    e.preventDefault();
                    u.installPlugin();
                    return false;
                });
                $brokenScreen.show();
            break;
            case "missing":
                $missingScreen.find("a").click(function (e) {
                    e.stopPropagation();
                    e.preventDefault();
                    u.installPlugin();
                    return false;
                });
                $missingScreen.show();
            break;
            case "installed":
                $missingScreen.remove();
            break;
            case "first":
            break;
        }
    });
    u.initPlugin(jQuery("#unityPlayer")[0], "{{ page.unity_file }}");
});
</script>