  <canvas class="emscripten" id="canvas" oncontextmenu="event.preventDefault()" height="{{ page.canvas_height }}" width="{{ page.canvas_width }}"></canvas>
  <div class="fullscreen"><img src="/images/fullscreen.png" width="38" height="38" alt="Fullscreen" title="Fullscreen" onclick="SetFullscreen(1);" /></div>

<div class="panel panel-default lead controls">
  <div class="panel-heading">Controls:</div>
  <div class="panel-body">
    {{ page.controls }}
  </div>
</div>

<!-- Load Unity game -->
<script type='text/javascript'>
  var Module = {
    TOTAL_MEMORY: {{ page.game_memory }},
    errorhandler: null,			// arguments: err, url, line. This function must return 'true' if the error is handled, otherwise 'false'
    compatibilitycheck: null,
    dataUrl: "{{ page.basename }}.data",
    codeUrl: "{{ page.basename }}.js",
    memUrl: "{{ page.basename }}.mem",
  };
</script>
<!-- This will be different for each game --!>
<script src="UnityLoader.js"></script>
